@model Projeto1TU.Models.ContatoViewModel

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-danger">Tem certeza que quer deletar este contato?</h3>

<p>Nome: @Html.DisplayFor(model => model.Cnt.Nome)</p>
<p>Apelido: @Html.DisplayFor(model => model.Cnt.Apelido)</p>
<p>CPF: @Html.DisplayFor(model => model.Cnt.Cpf)</p>
<p>Email: @Html.DisplayFor(model => model.Cnt.Email)</p>
<p>Ativo: @Html.DisplayFor(model => model.Cnt.Ativo)</p>


@using (Html.BeginForm("Delete", "Contatos", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Cnt.ID)
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
            @Html.ActionLink("Voltar", "Index", "Contatos", new { @class = "btn btn-success" })
        </div>
    </div>
}
<br />
