@model Projeto1TU.Models.ContatoViewModel

@{
    ViewBag.Title = "Delete";
}

<h3 class="text-danger">Tem certeza que quer deletar este contato?</h3>
<hr />

<p><strong>Nome: </strong> @Html.DisplayFor(model => model.Cnt.Nome)</p>
<p><strong>Apelido: </strong> @Html.DisplayFor(model => model.Cnt.Apelido)</p>
<p><strong>CPF: </strong> @Html.DisplayFor(model => model.Cnt.Cpf)</p>
<p><strong>Email: </strong> @Html.DisplayFor(model => model.Cnt.Email)</p>
<p><strong>Ativo: </strong> @Html.DisplayFor(model => model.Cnt.Ativo)</p>


@using (Html.BeginForm("Delete", "Contatos", FormMethod.Post))
{
    @Html.HiddenFor(model => model.Cnt.ID)
    <div class="form-group">
        <div class="col-md-4">
            <button type="submit" class="btn btn-danger" value="Delete">Delete</button>
            @Html.ActionLink("Voltar", "Index", "Contatos", new { @class = "btn btn-success" })
        </div>
    </div>
}
<br />
