@model Projeto1TU.Models.Contato

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>ID: @Html.DisplayFor(model => model.ID)</p>
<p>Nome: @Html.DisplayFor(model => model.Nome)</p>
<p>Apelido: @Html.DisplayFor(model => model.Apelido)</p>
<p>CPF: @Html.DisplayFor(model => model.Cpf)</p>
<p>Sexo: @Html.DisplayFor(model => model.Sexo)</p>
<p>Telefone: @Html.DisplayFor(model => model.Telefone)</p>
