@model Projeto1TU.Models.ContatoViewModel

@{
    ViewBag.Title = "Details";
}


<h2>Dados do Contato</h2>

<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td><strong>ID</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.ID)</td>
            </tr>
            <tr>
                <td><strong>Nome</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Nome)</td>
            </tr>
            <tr>
                <td><strong>Apelido</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Apelido)</td>
            </tr>
            <tr>
                <td><strong>CPF</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Cpf)</td>
            </tr>
            <tr>
                <td><strong>Nascimento</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Nascimento)</td>
            </tr>
            <tr>
                <td><strong>Sexo</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Sexo)</td>
            </tr>
            <tr>
                <td><strong>Telefone</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Telefone)</td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Email)</td>
            </tr>
            <tr>
                <td><strong>CEP</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Cep)</td>
            </tr>
            <tr>
                <td><strong>Endereço</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Endereco)</td>
            </tr>
            <tr>
                <td><strong>Nº</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Numero)</td>
            </tr>
            <tr>
                <td><strong>Complemento</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Complemento)</td>
            </tr>
            <tr>
                <td><strong>Bairro</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Bairro)</td>
            </tr>
            <tr>
                <td><strong>Cidade</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Cidade)</td>
            </tr>
            <tr>
                <td><strong>Estado</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.EstadoID)</td>
            </tr>
            <tr>
                <td><strong>Ativo</strong></td>
                <td>@Html.DisplayFor(model => model.Cnt.Ativo)</td>
            </tr>

        </table>
    </div>
</div>

<br />

@Html.ActionLink("Voltar", "Index", "Contatos", new { @class = "btn btn-success" })