@model Projeto1TU.Models.ContatoViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>Pesquisar por: </p>

<select name="pesquisa" class="form-control" id="pesquisa">
    <option value="default" selected disabled>Selecione a categoria</option>
    <option value="nome-query">Nome</option>
    <option value="cpf-query">CPF</option>
    <option value="estado-query">Estado (sigla)</option>
</select>
<br />

@Html.TextBox("Descricao", "", new
{
    @class = "form-control descricao",
})

<br />

<div class="row">
    <div class="col-md-4">
        <a id="btnPesquisa" class="btn btn-info" href="#">Pequisar</a>
    </div>
</div>


<h2>Clientes </h2>

<div class="row">
    <div class="col-md-12">
        <table id="tbcontato" class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Apelido</th>
                    <th>Cidade</th>
                    <th>Ativo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ListaContato)
                {
                    <tr>
                        <td id="nome">@item.Nome</td>
                        <td> @item.Email </td>
                        <td> @item.Apelido </td>
                        <td> @item.Cidade </td>
                        <td> @item.Ativo </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a href="@Url.Action("Create", "Contatos")" class="btn btn-warning">Novo contato</a>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">
        $('#pesquisa').click(() => {
            var selecao = $("#pesquisa option:selected").val();
            var elemento = $(".descricao");
            elemento.attr("id", selecao);
            $("#cpf-query").inputmask("mask", { "mask": "999.999.999-99" });
            $("#nome-query").inputmask("mask", { "mask": "" });
            $("#estado-query").inputmask("mask", { "mask": "AA" });
        })
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>

    <script type="text/javascript">
        $('#btnPesquisa').click(function () {
            var url = '@Url.Action("Index","Contatos")' + '?query=' + $('.descricao').val();
            window.location.href = url;
        });
    </script>

}